<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <!-- 중앙 정렬 및 주황색 스타일 -->
    <a class="navbar-brand mx-auto text-orange" href="/">KINGYJ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- 로그인 링크 오른쪽 정렬 -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-orange" href="#">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-orange" th:href="@{/user/signup}">회원가입</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  /* Bootstrap 스타일 덮어쓰기 */
  .nav-link.custom-orange {
    color: orange !important; /* 강제 적용 */
  }
</style>